body {
    font-family: "Roboto", sans-serif;
    color: #f9faf8;
}
.nav, .top-area {
    background: #1f2937;
}
.rand {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    justify-content: center;
    display: flex;
}
.quotesection {
    background: #e5e7eb;
}
.quote {
    font-size: 36px;
    font-style: oblique;
    color: #1f2937;
}
.actionbutton {
    background: #3882f6 ;
}
.quadimg {
    display: flex;
    gap: 2em;
    justify-content: center;
}
.signa {
    font-size: 20px;
    font-weight: 900;
    color: #1f2937;
}
.imgs {
    border: 3.5px solid #3882f6;
    border-radius: 1.2em;
    height: 10em;
    width: 10em;
}
button {
    background-color: #3882f6;
    color: white;
    border-radius: .2em;
}
.linkone, .linktwo, .linkthree {
    font-size: 18px;
    color: #e5e7eb;
}
a:link {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
  }
  
  a:visited {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
  }
  
  a:hover {
    text-decoration: underline;
    font-size: 18px;
    color: #e5e7eb;
  }
  
  a:active {
    text-decoration: underline;
    font-size: 18px;
    color: #e5e7eb;
  }